node_modules
# Keep environment variables out of version control
.env
build
.idea
uploads

/src/prisma/generated/prisma
coverage/
generated-schemas/

# SQLite Databases
*.db
prod.db
*.db-journal
*.db-shm
*.db-wal
prisma/*.db